html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, gold, lime, white);
    margin: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.calculator {
    background: rgb(61, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    height: 90vh;
    width: 30%;
    border-radius: 10px;
    position: relative;
}
.calculator .equation {
    background: transparent;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: none;
    height: 30vh;
    width: 100%;
    font-size: 5em;
    cursor: default;
}
.calculator #operator-button {
    color: orange;
}
.calculator #equals-button {
    background: rgb(234, 134, 11);
}
.calculator .digit-button {
    background: lightgrey;
    box-shadow: 0 0 10px black inset;
    color: white;
    font-weight: bold;
    font-family: monospace;
    height: 10vh;
    width: 15%;
    border: none;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3em;
    transition: 0.3s ease-in-out;
}
.calculator .digit-button:hover {
    box-shadow: 0 0 30px black inset;
}
.ns {
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    font-size: 3em;
}